.logo {
  color: rgb(216, 216, 216);
  font-weight: bolder;
  margin-left: 50px;
}

.logo span {
  color: rgb(101, 141, 241);
}
.intro {
  background-color: rgb(216, 216, 216);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 220px;
  padding: 0px 50px 0px 50px;
}
.intro p {
  font-size: 20px;
  margin: 0;
}
.spotify-icon {
  color: rgb(0, 167, 0);
  font-size: 35px;
}

.sign-in {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 30px;
  padding: 10px;
  min-width: 220px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  margin-left: 50px;
  cursor: pointer;
}
.sign-in:hover {
  background-color: rgb(22, 22, 22);
}
.sign-in p {
  font-size: 14px;
}

.features {
  margin-top: 50px;
  color: rgb(216, 216, 216);
  padding: 0px 50px 0px 50px;
}
.features h1 {
  font-weight: 400;
  font-size: 40px;
}
.features div {
  padding-right: 50px;
  max-width: 45%;
  display: inline-block;
  vertical-align: top;
}
.features p {
  margin-bottom: 50px;
  font-size: 18px;
}

.features span {
  color: rgb(101, 141, 241);
}
