@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap");
body {
  margin: 0;
  overflow-y: scroll;
  background-color: rgb(51, 51, 51);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
